{{ class_name }}
{{ class_name_header_underline }}

See also:
  :nwb-{{ namespace_name }}-type-schema:`Format Specification<{{ lower_class_name }}>` 
  or :nwb-{{ namespace_name }}-type-schema:`Source Specification<sec-{{ lower_class_name }}-src>` for {{ class_name }}.

.. mat:module:: {{ module_name }}
.. autoclass:: {{ full_class_name }}
    :members:
    :show-inheritance:
